

body {
    background-color: gray;
    color: white;
}
h1 {
    text-align: center;
}
.gameBoard {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b1c1b;
    height: 600px;
    width: 700px;
    border-radius: 10px;
    border-style: inset;
    border-width: 10px;
    /* border-color:; */
}
.divContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px
}
.allCards {
    height: 150px;
    width: 100px;
    background-color: white;
    border-style: groove;
    margin: 20px;
    color: black;
    border-radius: 5px;
}

.allButtons {
    margin: 20px;
    font-size: 20px;
}

.placeHoldertext {
    text-align: center;
    line-height: 110px;
}

.gameButtonHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}