h1 {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(66, 150, 204), 0 0 25px rgb(66, 150, 204), 0 0 5px rgb(66, 150, 204);
    margin-top: 20px;
    padding-top: 15px;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ; */
    font-size: 60px;
    font-family: 'Orbitron', sans-serif;
}

.messenger {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    color: rgb(34, 168, 56);
    background-color: black;
    border-style: groove;
    border-color: white;
    border-width: 5px;
    border-radius: 5px;
    height: 50px;
    width: 300px;
    position: relative;
    margin: 0 auto;
    top: 570px;

    
}
body {
    background-image: url('https://worldview.stratfor.com/sites/default/files/styles/2x1_full/public/naval-update-map-12302020%20%281%29.png?itok=aNr0zTRM');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: gray;
    /* background color included in case image is not found by browser, gray will display instead */
}


.gameBoard {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 600px;
    width: 700px;
    border-color: white;
    border-radius: 10px;
    border-style: inset;
    border-width: 1px;
}

.activeGameBoard {
    box-shadow: 
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 100px rgb(60, 110, 202);
}

.divContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px
}
.allCards {
    height: 150px;
    width: 100px;
    background-color: white;
    border-style: groove;
    margin: 20px;
    color: black;
    border-radius: 5px;
}

.activeAllCards {
    box-shadow: 
        0 0 100px rgb(173, 66, 66),
        0 0 10px rgb(161, 42, 42),
        0 0 151px rgb(218, 76, 57);
}

.allButtons {
    position: relative;
    margin: 25px;
    font-size: 17px;
    border-color: white;
    border-width: 5px;
}
.cardValue {
    font-size: 30px;
    text-align: center;
}

.placeHoldertext {
    text-align: center;
    line-height: 110px;
}

.gameButtonHolder {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* .cardBack {
    position: relative;
    top: 49.5%;
    left: 50%;
    margin-top: -300px;
    margin-left: -220px;
    height: 330px;
    width: 330px;
} */

.cardBack2 {
    position: relative;
    top: 49.5%;
    left: 50%;
    margin-top: -465px;
    margin-left: -220px;
    height: 330px;
    width: 330px;
}



