h1 {
    color: white;
    background-color: black;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(66, 150, 204), 0 0 25px rgb(66, 150, 204), 0 0 5px rgb(66, 150, 204);
    margin-top: 30px;
    /* margin-bottom: 20px; */
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ; */
    font-size: 60px;
    font-family: 'Orbitron', sans-serif;
}

.navBar {
        list-style-type: none;
        margin: 0px;
        padding: 5px;
        background-color: rgb(203, 223, 224);
        font-family: 'Orbitron', sans-serif;
}

.navBarLinks {
    display: inline;
    padding: 8px;
    border-right: 1px solid #bbb;
    font-weight: 700;
}

.aboutCreator {
    float: right;
    padding: 8px;
    line-height: 5px;
    border-right: none;
}
.activeNavBar{
        background-color: black;
        color: white;
}

.messenger {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    color: rgb(34, 168, 56);
    background-color: black;
    border-style: groove;
    border-color: white;
    border-width: 5px;
    border-radius: 5px;
    height: 50px;
    width: 300px;
    position: relative;
    margin: 0 auto;
    top: 570px;
}

body {
    background-image: url('https://external-preview.redd.it/qPBMW2EXx5XwLiKBnc1pQMGqehGgqJyBijRBeLarERU.jpg?auto=webp&s=b4fbd0d09cb3535bec8020e0c9c1f0ffcb383484');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(58, 56, 56);
    margin: 0;
    /* background color included in case image is not found by browser, gray will display instead */
}

.gameBoard {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 600px;
    width: 700px;
    border-color: white;
    border-radius: 10px;
    border-style: inset;
    border-width: 1px;
    position: relative;
}

.activeGameBoard {
    box-shadow: 
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 100px rgb(60, 110, 202);
}

.activeGameCard {
    box-shadow: 
        0 0 100px rgb(202, 120, 12),
        0 0 10px rgb(184, 102, 10),
        0 0 151px rgb(172, 115, 9),
        0 0 150px rgb(202, 120, 12);
}

.divContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px
}
.allCards {
    height: 150px;
    width: 100px;
    background-color: rgba(240, 235, 235, 0.753);
    border-style: groove;
    margin: 20px;
    color: black;
    border-radius: 5px;
}

.airForceSymbol {
    position: absolute;
    top: 317px;
    left: 30%;
    height: 155px;
    width: 120px;
    border-width: 2px;
    border-color: #0B2457;
    border-style: groove;
    border-radius: 5px;
}

.armySymbol {
    top: 123px;
    left: 51%;
    position: absolute;
    height: 155px;
    width: 120px;
    border-width: 2px;
    border-color: #0B2457;
    border-style: groove;
    border-radius: 5px;
}
.marinesSymbol {
    position: absolute;
    margin: 0;
    top: 123px;
    left: 30%;
    height: 155px;
    width: 120px;
    border-width: 2px;
    border-color: #0B2457;
    border-style: groove;
    border-radius: 5px;
}

.navySymbol {
    position: absolute;
    height: 155px;
    width: 120px;
    top: 317px;
    left: 51%;
    border-width: 2px;
    border-color: #0B2457;
    border-style: groove;
    border-radius: 5px;
}

.allButtons {
    position: relative;
    margin: 25px;
    font-size: 17px;
    border-color: white;
    border-width: 5px;
}

.activeButton {
    box-shadow: 
        00 0 100px rgb(202, 120, 12),
        00 0 100px rgb(184, 102, 10),
        00 0 101px rgb(172, 115, 9),
        00 0 150px rgb(202, 120, 12);
}

.cardValue {
    font-size: 30px;
    text-align: center;
}

.placeHoldertext {
    text-align: center;
    line-height: 110px;
}

.gameButtonHolder {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cardBack {
    position: absolute;
    margin: 0;
    top: 33px;
    left: 18.5%;
    height: 330px;
    width: 330px;
}
.cardBack2 {
    position: absolute;
    margin: 0;
    top: 227px;
    left: 18.25%;
    height: 330px;
    width: 330px;
}

.audioPlayer {
    position: absolute;
    left: 25px;
    width: 15%; 
}