

body {
    background-color: gray;
    color: white;
}
h1 {
    text-align: center;
}
.gameBoard {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* grid-template-rows:[row1-start] 25% [row1-end] 100px [third-line] auto [last-line]; */
    background-color: #1b1c1b;
    height: 600px;
    width: 700px;
    border-radius: 10px;
    border-style: inset;
    border-width: 10px;
    /* border-color:; */
}
.divContainer {
    display: flex;
    flex-wrap: wrap;
    width: 300px
}
.allCards {
    height: 150px;
    width: 100px;
    background-color: white;
    border-style: groove;
    margin: 10px
}

.allButtons {
    margin: 20px;
    font-size: 20px;
}